.footer-site{
  background-color: #d1cab9;
  margin-top: -82px;
  height: 340px;
}

#lagLogo{
  margin-top: 30px;
}

#media {
    margin-top: 35px;
}

.bottom{
    padding-bottom: 15px;
  }

.right{
  padding-right: 7px;
}

#map{
  margin-top: 25px;
}
